BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sys_clk" SITE "C1" ;
LOCATE COMP "sys_rst" SITE "L14" ;
LOCATE COMP "SPI_CLK" SITE "E12" ;
LOCATE COMP "SPI_CS" SITE "F14" ;
LOCATE COMP "SPI_DC" SITE "F13" ;
LOCATE COMP "SPI_MOSI" SITE "F12" ;
LOCATE COMP "SPI_RES" SITE "G12" ;
LOCATE COMP "led" SITE "N13" ;
