BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk_in" 12.000000 MHz ;
LOCATE COMP "clk_in" SITE "C1" ;
LOCATE COMP "rst_n_in" SITE "L14" ;
LOCATE COMP "clk_out" SITE "E12" ;
LOCATE COMP "clk_out_1MHz" SITE "F12" ;
LOCATE COMP "clk_out_1KHZ" SITE "G12" ;
