BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "sys_clk" SITE "C1" ;
LOCATE COMP "sys_rst_n" SITE "N14" ;
LOCATE COMP "oled_cs" SITE "F14" ;
LOCATE COMP "oled_dc" SITE "F13" ;
LOCATE COMP "oled_mosi" SITE "F12" ;
LOCATE COMP "oled_res" SITE "G12" ;
LOCATE COMP "oled_sck" SITE "E12" ;
LOCATE COMP "key1" SITE "L14" ;
LOCATE COMP "led" SITE "P9" ;
LOCATE COMP "key2" SITE "M13" ;
LOCATE COMP "key3" SITE "M14" ;
LOCATE COMP "sw1" SITE "M7" ;
LOCATE COMP "beep" SITE "P8" ;
LOCATE COMP "sw2" SITE "M8" ;
FREQUENCY PORT "sys_clk" 12.000000 MHz ;
LOCATE COMP "one_wire" SITE "N7" ;
LOCATE COMP "uart_txd" SITE "B8" ;
LOCATE COMP "uart_rxd" SITE "C8" ;
LOCATE COMP "sw4" SITE "M10" ;
